.sidebar {
  width: 346px;
  height: 418px;
  flex-shrink: 0;
  background: rgba(214, 124, 145, 0.46);
}


.navbarindex {
  background: rgba(242, 11, 11, 0.70);
  width: 100%;
  height: 299px;
}

.meioindex{
  background: #030303;
  width: 972px;
  height: 123px;
  flex-shrink: 0;
  justify-content: center;
  
  align-items: center;
  margin-bottom: auto;
}
