.navbar-lewagon {
  justify-content: space-between;
  background: rgb(16, 16, 16);
  width: 100%;
  height: 255px;
  flex-shrink: 0;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal
}
.nav-link {
  color:#FFF
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
  color: #FFF;
}
